<header class="header">
  <div class="header-logo">
    <a class="header-logo-image" href="https://www.raekdata.com">
      <svg class="raek-logo-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1259.3 232.5" aria-hidden="true">
        <path class="st0" d="M1193.4,232.5l-91.6-91.2l-69.9,62.9v28.4h-46V0h46v146.7L1193.4,0h65.9l-126,112.9l125.4,119.6H1193.4z"/>
    		<path class="st0" d="M697.1,232.5V0h223.4v46H742.8v51.4h172.7v37.5H742.8v52h177.7v45.6H697.1z"/>
    		<path class="st0" d="M579.7,232.5l-29.1-54.1H410.4l-29.1,54.1h-52L456.7,0h47.6l127.4,232.5H579.7z M480.7,45.6L428,141.9h105.4
    			L480.7,45.6z"/>
    		<path class="st0" d="M199.7,232.5l-80.4-76H46v76H0V0h189.9c49.3,0,66.6,19.3,66.6,72v14.2c0,56.8-21.3,69.6-78.7,69.6l86.2,76.7
    			H199.7z M211.2,79.7c0-22.6-2.7-33.5-22.6-33.5H46v72h142.6c16.2,0,22.6-7.1,22.6-27.4V79.7z"/>
      </svg>
      <span class="visibility-hidden">evoko website</span>
    </a>
    <a class="header-logo-title" href="/hc/en-us">support</a>
  </div>

  <div class="header-desktop-search">
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
      <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor" />
      <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5" />
    </svg>
    {{search submit=false instant=settings.instant_search placeholder="Search knowledge base..."}}
  </div>

  <div class="header-desktop-menu">
    <nav class="user-nav" id="user-nav">
      {{#if help_center.community_enabled}}
      {{link 'community'}}
      {{/if}}
      {{link 'new_request'}}
    </nav>
    {{#if signed_in}}
    <div class="user-info dropdown">
      <button class="dropdown-toggle" aria-haspopup="true">
        {{user_avatar class="user-avatar"}}
        <span>
          {{user_name}}
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
            class="dropdown-chevron-icon" aria-hidden="true">
            <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5" />
          </svg>
        </span>
      </button>
      <div class="dropdown-menu dropdown-menu-end" role="menu">
        {{link "my_activities" role="menuitem"}}
        {{my_profile role="menuitem"}}
        {{change_password role="menuitem"}}
        {{link "sign_out" role="menuitem"}}
      </div>
    </div>
    {{else}}
      {{#link "sign_in"}}
        {{t 'sign_in'}}
      {{/link}}
    {{/if}}
  </div>

  <button aria-expanded="false" aria-controls="mobile-menu" aria-label="{{t 'toggle_navigation'}}" class="header-mobile-menu-button">
    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" focusable="false" viewBox="0 0 16 16" aria-hidden="true" class="menu-icon">
      <path fill="none" stroke="currentColor" stroke-linecap="round" d="M1.5 3.5h13m-13 4h13m-13 4h13" />
    </svg>

    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="x-icon">
      <path stroke="currentColor" stroke-linecap="round" d="M3 9l6-6m0 6L3 3" />
    </svg>
  </button>
</header>

<nav class="header-mobile-menu" aria-expanded="false" id="mobile-menu">
  <div class="header-mobile-menu-search">
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
      class="search-icon" aria-hidden="true">
      <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor" />
      <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5" />
    </svg>
    {{search submit=false instant=settings.instant_search placeholder="Search knowledge base..."}}
  </div>

  <ul>
    {{#if help_center.community_enabled}}
    <li>{{link 'community'}}</li>
    {{/if}}
    <li>{{link 'new_request'}}</li>
    {{#if signed_in}}
    <li>{{my_profile}}</li>
    <li>{{link "my_activities"}}</li>
    <li>{{change_password}}</li>
    <li>{{link "sign_out"}}</li>
    {{else}}
    <li>
      {{#link "sign_in"}}
      {{t 'sign_in'}}
      {{/link}}
    </li>
    {{/if}}
  </ul>
</nav>
